/* Estilos para el carrusel */
.carousel-dark .carousel-inner {
    background-color: #E5E5E5;
}

.carousel-dark .carousel-item {
    transition: transform 0.5s ease;
}

.carousel-inner {
    border-radius: 10px;
}

/* Estilos para las tarjetas de productos */
.product-card {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card .card-img-top {
    border-radius: 10px 10px 0 0;
    height: 250px;
    object-fit: cover;
}

.product-card .card-body {
    text-align: left;
}

.product-card .card-title {
    color: #212529;
    font-weight: 700;
}

.product-card .card-text {
    color: #6c757d;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn-details {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-details:hover {
    background-color: #0056b3;
    border-color: #004085;
}
