<div class="container">
    <div>
        <h2>Vision</h2>
        <p>Nos esforzamos por ser el supermercado preferido por las familias y comunidades, reconocido por nuestra
            dedicación a la excelencia en el servicio al cliente, la innovación en la selección de productos y la
            responsabilidad social empresarial. Buscamos ser líderes en la industria al adaptarnos constantemente a las
            necesidades cambiantes de nuestros clientes y al mismo tiempo manteniendo nuestro compromiso con la calidad
            y la sostenibilidad.</p>
    </div>
    <div>
        <h2>Misión</h2>
        <p>Nuestra misión es ofrecer a nuestros clientes una experiencia de compra excepcional al proporcionar productos
            frescos, variados y de alta calidad a precios competitivos. Nos comprometemos a ser un destino confiable y
            conveniente para las necesidades cotidianas de alimentación y cuidado del hogar, mientras promovemos
            prácticas
            sostenibles y apoyamos a las comunidades locales en las que operamos.</p>
    </div>
</div>
<div>
    <h2>Historia</h2>
    <p>Nuestro supermercado nació de la visión de un equipo apasionado por ofrecer una alternativa diferenciada en
        la industria de la alimentación y el comercio minorista. Inspirados por el deseo de crear un espacio donde
        la calidad, la variedad y el servicio se unieran, comenzamos nuestro viaje con la convicción de que cada
        cliente merece una experiencia de compra excepcional.

        Desde nuestros humildes comienzos, hemos crecido y evolucionado, pero nuestro compromiso con nuestros
        valores fundamentales nunca ha vacilado. Nos enorgullece haber construido relaciones sólidas con nuestros
        proveedores, colaborando estrechamente con agricultores locales y empresas éticas para ofrecer productos
        frescos y de calidad a nuestros clientes.

        Nuestra historia está marcada por momentos de desafío y crecimiento, pero cada obstáculo ha fortalecido
        nuestra determinación de servir a nuestras comunidades de la mejor manera posible. Miramos hacia el futuro
        con optimismo y anticipamos seguir siendo un destino confiable y apreciado para todas las necesidades de
        compra de nuestras comunidades.</p>


</div>