<body>
    <header>
        <h2>Contactanos</h2>
    </header>
    <main>
        <div>
            <h4>Numero: 095254852</h4>
            <h4>Dirección: Calle Suño Avenida XD</h4>
        </div>
        <div>
            <h2>Horarios de Atención</h2>
            <h4>Lunes a Viernes de 7:00 am a 8:00 pm</h4>
        </div>
    </main>
    <h2>Ubicacion</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15959.083377072908!2d-78.57116244458008!3d-0.27951099999999557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d598b98c74ed45%3A0x9a1fa71d73ee05cb!2sMega%20Santa%20Mar%C3%ADa%20-%20Chillogallo!5e0!3m2!1ses-419!2sec!4v1716417345243!5m2!1ses-419!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>